.blueA {
    --blue-a1: hsla(210, 100%, 51.0%, 0.016);
    --blue-a2: hsla(210, 100%, 51.0%, 0.040);
    --blue-a3: hsla(210, 100%, 50.3%, 0.071);
    --blue-a4: hsla(210, 100%, 50.1%, 0.118);
    --blue-a5: hsla(208, 99.1%, 47.1%, 0.189);
    --blue-a6: hsla(209, 99.5%, 45.3%, 0.283);
    --blue-a7: hsla(208, 99.9%, 43.8%, 0.412);
    --blue-a8: hsla(206, 99.8%, 45.1%, 0.632);
    --blue-a9: hsla(206, 100%, 50.0%, 0.980);
    --blue-a10: hsla(208, 100%, 47.2%, 0.980);
    --blue-a11: hsla(212, 100%, 43.0%, 0.980);
    --blue-a12: hsla(213, 100%, 14.4%, 0.980);
  }

  .grayA {
    --gray-a1: hsla(0, 0%, 0%, 0.012);
    --gray-a2: hsla(0, 0%, 0%, 0.027);
    --gray-a3: hsla(0, 0%, 0%, 0.047);
    --gray-a4: hsla(0, 0%, 0%, 0.071);
    --gray-a5: hsla(0, 0%, 0%, 0.090);
    --gray-a6: hsla(0, 0%, 0%, 0.114);
    --gray-a7: hsla(0, 0%, 0%, 0.141);
    --gray-a8: hsla(0, 0%, 0%, 0.220);
    --gray-a9: hsla(0, 0%, 0%, 0.439);
    --gray-a10: hsla(0, 0%, 0%, 0.478);
    --gray-a11: hsla(0, 0%, 0%, 0.565);
    --gray-a12: hsla(0, 0%, 0%, 0.910);
  }


.UpperBackground {
    background-image: url(../src/images/New\ Background.jpg);
    height: 40vh;
    background-size: cover;
    background-position: center center;
}

.ContentBox {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

.Heading {
    width: 40vw;
    height: 3rem;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: var(--blue-a12);
    

    
}

.Heading2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.7rem;
    color: var(--gray-a11);
    font-weight: 600;

}

.Index {
    margin-top: 16vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2rem;
    color: var(--gray-a11);
    font-weight: 600;
    letter-spacing: -0.03rem;
}

.MainBox {
    margin-top: 4vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 1120px) {
    .ContentBox {width: 97vw;}
    .Heading {width: 90vw; font-size: 2rem; height: 2rem;}
}




/* body {
    background-color: #000;
}
    
.FrontPage {
    height: 140vh;
    background-image: url(../src/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.BigP {
    color: white;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    display: block;
    padding-top: 6em;
    padding-bottom: 0.4em;
}

.SmallP {
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 1.6rem;
    text-align: center;
    padding-bottom: 12em;

}

.Background {
    margin: auto;
}

.Flexbox {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
} */

