
.FrontPage {
    height: 100vh;
    background-image: url(../src/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.Background {
    max-width: 1000px;
    margin: auto;
}

.Flexbox {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

